body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 0 auto;
}

.instruments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
}

.canvas {
  display: flex;
}

.pallete {
  border: 1px solid grey;
  box-shadow: 1px 5px 5px grey;
  height: 300px;
}

.pallete__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pallete__ul--bucket,
.pallete__ul--color,
.pallete__ul--move,
.pallete__ul--transform {
  position: relative;
  padding-left: 80px;
  padding-top: 20px; 
  margin-bottom: 30px;
  padding-right: 40px;
}

.pallete__ul--bucket::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../assets/paint-bucket_1.png");
}

.pallete__ul--color::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../assets/eye_dropper_1.png");
}

.pallete__ul--move::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../assets/move_1.png");
}

.pallete__ul--transform::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../assets/transfer_1.png");
}

.line {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.colors {
  margin-top: 30px;
  border: 1px solid grey;
  box-shadow: 1px 5px 5px grey;
  height: 250px;
}

.colors__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colors__ul--current-color,
.colors__ul--prev-color,
.colors__ul--red,
.colors__ul--blue {
  display: block;
  padding-left: 20px;
  padding-top: 15px; 
  margin-bottom: 20px;
  padding-right: 40px;
}

.colors__ul p {
  margin: 0;
  padding: 0;
}

.circle_current-color {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #c4c4c4;
  margin-right: 20px;
}

.circle_prev-color {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #41f795;
  margin-right: 20px;
}

.circle_red-color {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #f74141;
  margin-right: 20px;
  color: #f74141;
}

.circle_blue-color {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #41b6f7;
  margin-right: 20px;
}

/* .colors__ul--current-color::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #c4c4c4;
  top: 15px;
  left: 20px;
}

.colors__ul--prev-color::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #41f795;
  top: 15px;
  left: 20px;
}

.colors__ul--red::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #f74141;
  top: 15px;
  left: 20px;
}

.colors__ul--blue::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  background-color: #41b6f7;
  top: 15px;
  left: 20px;
} */

.canvas {
  margin-left: auto;
  margin-top: 20px;
}
