@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.container {
    width: 1800px;
    margin: 0px auto;
}

.head-image {
    background-image:  url("assets/background_image.png");
    background-repeat: no-repeat;
    background-color: white;
    height: 890px;
    filter: brightness(115%);
}

header {
    display: flex;
    margin-left: 200px;
    padding-top: 85px;
}

h1 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-right: 572px;
}

.logo-violet {
    color: #5b4295;
}

h1 a {
    color: #858688;
    text-decoration: none;
}

.head-menu {
    padding-top: 10px;
}

.head-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
}

.head-menu ul li {
    display: inline;
    padding-right: 18px;
}

.head-menu ul li a {
    color: rgba(69, 69, 69, 255);
    text-decoration: none;
}

.head-menu ul li a:hover {
    color: grey;
}

.language {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 200px;
    padding-top: 14px;
}

.language li {
    display: inline;
    color: rgba(149, 149, 149, 255);
}

.language li a {
    color: rgba(149, 149, 149, 255);
    text-decoration: none;
}

.language li a:hover {
    color: grey;
}

.language li a:focus {
    color: grey;
    font-weight: bold;
    text-decoration: underline;
}

.header-text {
    position: relative;
    top: 100px;
    color: #7a7a79;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.header-text p {
    margin: 0;
    padding: 0;
}

.header-text p:nth-child(2) {
    font-size: 35px;
}

.red {
    color: red;
}

.login::before {
    content: url(assets/login.png);
    position: relative;
    top: 5px;
    right: 4px;
}

.login {
    margin-right: 30px;
    margin-top: 12px;
    color: #454545;
    font-weight: bold;
    text-decoration: none;
}

.signup {
    text-decoration: none;
    font-weight: bold;
}

.btn {
    padding: 10px 25px;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    color: white;
    border-radius: 25px;
}

.header-group-btn {
    position: relative;
    top: 150px;
    text-align: center;
    font-weight: 700;
}

.header-group-btn ul {
    list-style: none;
}

.header-group-btn li {
    display: inline;
    margin-right: 20px;
}

.header-group-btn a {
    text-decoration: none;
}

.create-account-btn {
    padding: 10px 50px;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    color: white;
    border-radius: 25px;
}

.store-logo {
    display: inline-block;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    height: 26px;
    width: 26px;
    padding: 10px;
}

.feature {
    height: 290px;
}

.clearfix {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.feature-item {
    position: relative;
    text-align: center;
    margin-right: 80px;
}

.feature-item p,
.feature-item h2 {
    margin: 0;
    text-align: left;
}

.feature-item h2 {
    font-size: 25px;
    color: rgba(85, 85, 85, 255);
    margin-bottom: -5px;
}

.below-title {
    color: rgba(149, 147, 147, 255);
    font-size: 20px;
}

.small-description {
    padding-top: 25px;
    height: 60px;
    width: 358px;
    font-size: 14px;
    color: rgba(149, 147, 147, 255);
}

.feature-title {
    padding-left: 60px;
} 

.feature-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url("assets/features_sprites.png");
}

.feature-privacy::before {
    background-position: -113px -10px;
}

.feature-encryption::before {
    background-position: -210px -18px;
}

.feature-protect::before {
    background-position: -24px -10px;
}

.clearfix li:first-child {
    margin-left: 250px;
}

.grey-line-1::after {
    content: "";
    position: absolute;
    top: -130px;
    left: 410px;
    height: 210px;
    border-left: 1px solid #b9b9b9;
}

.grey-line-3::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 400px;
    width: 140px;
    border-bottom: 1px solid #b9b9b9;
}

.grey-line-2::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 395px;
    height: 433px;
    border-left: 1px solid #b9b9b9; 
}


.more-about-security {
    height: 225px;
}
.security-text {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 570px;
}

.security-text h2, 
.security-text p {
    margin: 0;
    text-align: right;
}

.security-text h2 {
    font-size: 50px;
    color: rgba(83, 83, 83, 255);
}

.security-text p {
    font-size: 20px;
    color: rgba(149, 147, 147, 255);
    line-height: 1;
}

.learn-more-about-security {
    display: inline-block;
    position: relative;
    top: 26px;
    left: 1040px;
    border: 1px solid rgba(103, 103, 103, 255);
    padding: 10px 30px;
    border-radius: 30px;
}

.more-about-security a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(103, 103, 103, 255);
}

.grey-line-4::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 320px;
    width: 1040px;
    border-top: 1px solid #b9b9b9; 
}

.brands {
    max-width: 1100px;
    width: 100%;
}

.brands img {
    height: 30px;
}

.brands ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.brands ul li {
    display: inline-block;
    filter: brightness(0%) contrast(0%);
}

.brands ul li a {
    margin: 20px;
}

.brands li:hover {
    filter: brightness(100%);
}

.testonials {
    background-image:  url(assets/footer.png);
    background-repeat: no-repeat;
    background-position-y: 170px;
    background-position-x: 0px;
    background-color: white;
    height: 1320px;
}

.testonials blockquote {
    width: 420px;
    height: 180px;
    font-size: 20px;
    color: rgba(16, 16, 16, 255);
    text-align: left;
    font-style: italic;
    margin-left: 520px;
    line-height: 1.5;
}

.testonials blockquote p {
    font-size: 15px;
    color: grey;
}

.dot-section {
    position: relative;
    top: 80px;
    left: 490px;
    width: 20px;
}

.dot {
    height: 11px;
    width: 11px;
    background-color: #b7b7b7;
    border-radius: 50%;
    display: block;
    margin-bottom: 8px; 
}

.black {
    background-color: black;
}

.download {
    margin-left: 600px;
    height: 510px;
}

.download .tech {
    position: relative;
    top: -200px;
    left: 300px;
}

.any-device {
    position: relative;
    top: -600px;
    width: 450px;
    text-align: right;
}

.any-device p {
    padding-bottom: 10px;
}

.any-device a {
    padding-left: 10px;
}

.download h3 {
    font-size: 32px;
    color: rgba(83, 83, 83, 255);
    margin: 0;
}

.download p {
    font-size: 16px;
    color: rgba(149, 147, 147, 255);
    text-align: right;
    line-height: 1.4;
}

.grey-line-5::after {
    content: "";
    position: absolute;
    top: 370px;
    left: -200px;
    width: 1400px;
    border-top: 1px solid #b9b9b9;
}

.plans {
    display: flex;
    flex-direction: column;
    height: 270px;
}

.plans h3,
.plans p,
.plans .upgrade-donate {
    align-self: center; 
    margin: 0;
}

.plans h3,
.plans p {
    color: rgba(83, 83, 83, 255);
    text-align: center;
    line-height: 1.2;
}

.plans h3 {
    font-size: 34px;
}

.plans p {
    font-size: 29px;
}

.upgrade-donate {
    padding-top: 50px;
    width: 450px;
}

.upgrade-plan,
.donate {
    color: white;
    text-decoration: none;
}

.upgrade-plan {
    padding: 15px 25px;
    background: linear-gradient(80deg, rgba(99,107,146,1) 0%, rgba(96,49,107,1) 100%);
    border-radius: 25px;
    margin-right: 20px;
}

.donate {
    padding: 15px 40px;
    background: linear-gradient(80deg, rgba(55,185,225,1) 0%, rgba(93,124,234,1) 100%);
    border-radius: 25px;
}

.upgrade-plan::before {
    content: url("assets/upgrade.png");
    position: relative;
    top: 4px;
    left: 0px;
}

.donate::before {
    content: url("assets/donate.png");
    position: relative;
    top: 2px;
    left: 0px;
}

.sponsors {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.sponsors p {
    position: relative;
    text-align: right;
    margin-right: 45px;
    padding-bottom: 20px;
    font-size: 14px;
    color: rgba(122, 122, 122, 255);
}

.grey-line-6::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -400px;
    width: 1390px;
    border-top: 1px solid #b9b9b9;
}

.grey-line-6::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 990px;
    height: 441px;
    border-left: 1px solid #b9b9b9;
}

.sponsors ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sponsors ul a {
    padding: 20px;
}

.sponsors ul li {
    display: inline-block;
    filter: brightness(0%) contrast(0%);
}

.sponsors li:hover {
    filter: brightness(100%);
}

.sponsors ul a img {
    height: 38px;
}
.footer {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-left: 220px;
    flex-wrap: wrap;
}

.footer__contacts {
    position: relative;
    width: 213px;
    line-height: 1;
    font-size: 14px;
    color: rgba(92, 92, 92, 255);
    padding-left: 20px;
}

.footer__contacts p {
    margin: 0;
    padding: 0;
}

.footer__contacts p:nth-child(1),
.footer__contacts p:nth-child(2),
.footer__contacts p:nth-child(3) {
    padding-bottom: 10px;
}

.footer__contacts a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(92, 92, 92, 255);
}

.footer__contacts p:nth-child(4) {
    padding-top: 30px;
    padding-bottom: 10px;
}

.grey-line-7::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    height: 140px;
    border-left: 1px solid #b9b9b9;
}

.footer-menu {
    display: flex;
}

.footer__company {
    position: relative;
    margin-left: 400px;
    margin-right: 90px;
}

.footer__legal,
.footer__neutronmail {
    width: 140px;
}

.footer__legal {
    padding-right: 70px;
}

.footer__company a,
.footer__legal a,
.footer__neutronmail a {
    text-decoration: none;
    color: rgba(92, 92, 92, 255);
}

.footer__company a:hover,
.footer__legal a:hover,
.footer__neutronmail a:hover {
    color: grey;
    text-decoration: underline;
}

.footer__company ul li,
.footer__legal ul li,
.footer__neutronmail ul li {
    /* content: "\2022";
    color: rgba(92, 92, 92, 255);
    font-weight: bold;
    display: inline-block;
    width: 1em; */
    font-size: 14px;
    text-align: right;
}

.footer__company--mod,
.footer__legal--mod,
.footer__neutronmail--mod {
    font-size: 16px;
    color: rgba(92, 92, 92, 255);
    margin-top: 0;
    margin-bottom: 30px;
    text-align: right;
}

.footer__company ul,
.footer__legal ul,
.footer__neutronmail ul {
    /* list-style: none; */
    margin: 0;
    padding-right: 15px;
}

.grey-line-8::after {
    content: "";
    position: absolute;
    left: 90px;
    height: 370px;
    border-left: 1px solid #b9b9b9;
}

.social-networks {
    margin-top: 115px;
    margin-left: 220px;
}

.social-networks ul {
    padding: 0;
    list-style: none;
    font-size: 12px;
}

.social-networks ul li {
    display: inline-block;
    padding-right: 20px;
}

.social-networks ul li a {
    text-decoration: none;
    color: rgba(92, 92, 92, 255);
}

.social-networks ul li a:hover {
    text-decoration: underline;
    color: grey;
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: rgba(92, 92, 92, 255);
    margin-left: 220px;
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 100%;
        margin: 0px auto;
        max-width: 1300px;
    }

    header {
        margin-left: 75px;
        padding-top: 55px;
    }

    h1 {
        margin-right: 300px;
    }

    .language {
        padding-left: 75px;
    }
    
    .feature-item {
        position: relative;
        text-align: center;
        margin-right: 70px;
    }

    .clearfix li:first-child {
        margin-left: 0px;
    }

    .clearfix li:nth-child(3) {
        margin-right: 0;
    }

    .small-description {
        padding-top: 25px;
        height: 90px;
        width: 300px;
        font-size: 14px;
        color: rgba(149, 147, 147, 255);
    }

    .grey-line-1::after {
        content: "";
        position: absolute;
        top: -189px;
        left: 335px;
        height: 280px;
        border-left: 1px solid #b9b9b9;
    }

    .grey-line-2::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 325px;
        height: 416px;
        border-left: 1px solid #b9b9b9;
    }

    .grey-line-3::after {
        display: none;
    }

    .security-text {
        width: 600px;
        margin-left: 160px;
    }

    .security-text h2 {
        font-size: 40px;
        color: rgba(83, 83, 83, 255);
    }

    .learn-more-about-security {
        display: inline-block;
        position: relative;
        top: 25px;
        left: 630px;
        border: 1px solid rgba(103, 103, 103, 255);
        padding: 10px 30px;
        border-radius: 30px;
    }

    .grey-line-4::before {
        content: "";
        position: absolute;
        top: 21px;
        right: 323px;
        width: 630px;
        border-top: 1px solid #b9b9b9;
    }

    .brands {
        width: 100%;
        max-width: 100%;
    }

    .download {
        margin-left: 300px;
        height: 510px;
    }

    .grey-line-5::after {
        content: "";
        position: absolute;
        top: 370px;
        width: 900px;
        left: 43px;
        border-top: 1px solid #b9b9b9;
    }

    .footer {
        display: flex;
        width: 100%;
        margin-left: 50px;
    }

    .footer__company {
        position: relative;
        margin-left: 250px;
        margin-right: 90px;
    }

    .social-networks {
        margin-top: 115px;
        margin-left: 50px;
    }

    .copyright {
        margin-top: 20px;
        font-size: 12px;
        color: rgba(92, 92, 92, 255);
        margin-left: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        max-width: 800px;
        margin: 0px auto;
        width: 100%;
    }

    .head-image{
        height: 800px;
    }

    header {
        margin-left: 25px;
        padding-top: 25px;
    }

    h1 {
        margin-right: 50px;
        font-size: 25px;
    }

    .head-menu {
        font-size: 16px; 
    }

    .head-menu ul {
        padding-right: 0px;
    }

    .auth {
        display: grid;
        width: 130px;
        font-size: 15px;
        height: 90px;
        justify-items: center;

    }

    .login {
        margin-right: 0px;
        margin-top: 0px;
    }

    .signup {
        margin-top: 10px;
        max-width: 50px;
    }

    .btn {
        padding: 10px 20px;
    }

    .language {
        padding-left: 25px;
        padding-top: 0px;
        margin-top: -25px;
        width: 300px;
        font-size: 15px;
    }

    .header-text {
        font-size: 40px;
    }

    .header-text p:nth-child(2) {
        font-size: 30px;
    }

    .grey-line-1::after,
    .grey-line-2::after,
    .grey-line-3::after,
    .grey-line-4::before,
    .grey-line-5::after,
    .grey-line-6::after,
    .grey-line-6::before,
    .grey-line-7::before,
    .grey-line-8::after {
        display: none;
    }

    .feature {
        height: 690px;
    }

    .clearfix {
        flex-direction: column;
    }

    .feature-item {
        margin-right: 0px;
        align-self: center;
        margin-bottom: 20px;
    }

    .security-text {
        text-align: center;
        margin-left: 0;
        max-width: 500px;
        width: 100%;
        margin: auto;
    }

    .learn-more-about-security {
        margin: auto;
        left: 300px;
        top: 30px;
    }

    .brands {
        height: 150px;
    }

    .testonials {
        height: 1120px;
    }

    .testonials blockquote {
        margin-left: 0px;
        margin: auto;
    }

    .dot-section {
        display: none;
    }

    .download {
        margin-left: 0px;
        height: 410px;
        margin: auto;
    }

    .download .tech {
        position: relative;
        left: 440px;
        width: 30%;
        top: 50px;
    }

    .any-device {
        position: relative;
        top: -220px;
        width: 316px;
        left: 104px;
        text-align: right;
    }

    .footer {
        flex-direction: column;
    }

    .footer-menu {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
        width: 100%;
        margin-top: 20px;
    }

    .footer__company {
        flex-wrap: wrap;
        margin-left: 20px;
        
    }
}

@media only screen and (max-width: 480px) {
    header {
        flex-direction: column;
    }

    h1 {
        margin-right: 0;
        margin: auto;
    }

    .auth {
        margin-bottom: 30px;
    }

    .more-about-security {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 300px;
    }

    .security-text {
        margin: 0 20px;
        height: 0;
    }

    .security-text h2, 
    .security-text p {
        margin: 0;
        text-align: center;
    }

    .learn-more-about-security {
        margin: auto;
        left: 0;
        top: 0;
    }

    .download {
        height: 300px;
    }

    .download .tech {
        display: none;
    }

    .any-device {
        position: inherit;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .download p {
        text-align: center;
    }


}