body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #343d46;
}

input {
  margin-top: 10px;
  margin-bottom: 15px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  position: relative;
  background-color: white;
  border-radius: 5px;
  /* padding: 5px; */
  margin-right: 50px;
  width: 250px;
  height: 380px;
}

.title-mod {
  position: absolute;
  display: block;
  margin: 0;
  background-color: rgba(17, 108, 74, 0.9);
  color: white;
  font-weight: bold;
  text-decoration: underline;
  top: 15%;
}

.image-mod {
  margin-top: 5px;
  max-width: 240px;
}

.channel-mod,
.date-mod,
.viewers-mod {
  font-weight: 600;
}

.channel-mod::before {
  content: url("../assets/tv.png");
}

.date-mod::before {
  content: url("../assets/calendar.png");
}

.viewers-mod::before {
  content: url("../assets/viewer.png");
}
